<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- -------------- Main Wrapper -------------- -->

		<section id="content_wrapper">
			<h2 th:text="#{user_sign_up_form}"></h2>
			<form th:action="@{/api/user/update}" method="POST"
				th:object="${USER}" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="username"
						th:text="#{username}"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username"
							th:field="*{userName}" th:placeholder="#{enter_username}">
						<input type="hidden"
							th:field="*{userHash}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="pwd" th:text="#{email}"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username"
							 th:field="*{Email}" th:placeholder="#{enter_email}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="phonenumber"
						th:text="#{phonenumber}"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="phonenumber"
							th:field="*{phoneNumber}" th:placeholder="#{enter_phonenumber}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2"  th:text="#{gender}"></label>
					<div class="col-sm-10">
						<select th:field="*{Gender}">
							<option value="F"  th:text="#{f}"></option>
							<option value="M"  th:text="#{m}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" th:text="#{submit}"></button>
					</div>
				</div>
			</form>

		</section>
	</div>
</body>
</html>
